.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body {
  background-color: #dbd6d6;
}
/*
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  width: 100%;
  height: 100%;
}*/
#gameContainer {
  position: relative;
  display:block;
  margin:auto;
  will-change: transform;
  /*
  max-width: 960px;
  max-height: 540px;
  width:100%;
  height: 100%;*/
}
#gameContainer canvas {
  position:absolute;
}

canvas {
  image-rendering: auto;
  width: unset;
  height: unset;
}
#bot {
  z-index:0;
}
#mid {
  z-index:1;
  /*pointer-events: none;*/
}
#top {
  background-color: rgba(255, 255, 255, 0.0);
  z-index:2;
  pointer-events: none;
}
